<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta name="description" content="Data Visualization Project">
      <meta name="keyword" content="">

      <title>九霄</title>

      <link rel="stylesheet" type="text/css" href="/build/css/nsky-error.css">

  </head>
  <body>
  <div class="dv-error">
      <img src="/images/500.jpg">

      <div class="dv-error-content">
          <p>服务器错误，请稍候再试</p>
      </div>
  </div>
  </body>
</html>
