
<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta name="keyword" content="杭州散打,洪流,武道馆">
      <link rel="icon" href="./favicon.ico" type="image/x-icon">
      <title>洪流武道馆</title>

      <!-- script -->
      <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=c01ab6f7cd6446ae11232274fa67f9df"></script>
  </head>
  <body>
    <div id="react-content">
    </div>
    <script type="text/javascript" src="/pcs/dist/base.bundle.js"></script>
    <script>
        // 时间戳控制缓存.
        window.version = Date.parse(new Date('2016/09/24'))

        var bundle = document.createElement("script")
        bundle.setAttribute("type", "text/javascript")
        bundle.setAttribute("src", '/client/bundle.js?t='+version)

        var heads = document.getElementsByTagName("head");
        if(heads.length) {
            heads[0].appendChild(bundle);
        } else {
            document.documentElement.appendChild(bundle);
        }
    </script>
  </body>
</html>
